*{
  padding: 0;
  margin: 0;
}
.searchinput{
  border: none;
  box-shadow: 5px 5px 8px gray;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 10px;
}
.bottomContent{
  margin-top: 80px;
}
.bottomContent h5{
  color: rgb(47, 47, 47);
}
.dropdown{
  width: 50px;
  height: 80px;
  background-color: white;
  position: absolute;
  margin-bottom: 120px;
  right: -65px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-items: center;
}